<body class="bg-sky-950">

    
    <div class="sticky w-full h- flex  justify-between bg-slate-950 opacity-30 drop-shadow-xl" >  
        
        <div class=" ml-6 justify-between">

            <a href="/Home" class="text-5xl text-white hover:text-sky-900">Home</a>

        </div>

        <div class="pr-10">

            <button class=" p-3 h-full rounded-2xl ml-3 bg-purple-300 font-semibold hover:bg-sky-700"> How it works!</button>
       
        </div>


        

    </div>




    <section class="rounded-2xl h-screen w-3/4 flex flex-col mx-auto  bg-cyan-900 opacity-70">

       
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Product name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Category
                        </th>
                        
                        <th scope="col" class="px-6 py-3">
                            Available
                        </th>                       
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name of the product">

                        </th>
                        <td class="px-6 py-4">
                            <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Price of the product">

                        </td>
                        <td class="px-6 py-4">
                            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Category of the product">

                        </td>
                        <td class="px-6 py-4">
                            <input type="number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Available stock">

                        </td>
                        
                       
                        <td class="flex items-center px-6 py-4">
                            <button  class=" p-3 h-full rounded-2xl bg-gray-600 m-4 font-medium text-green-600 dark:text-green-500 hover:bg-green-700 text-white">Add</button>
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                            <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-3">Remove</a>
                        </td>
                    </tr>

            </table>
        </div>


   

    </section>
    
</body>


