<div class="h-screen bg-gradient-to-r flex from-violet-500 to-fuchsia-700 place-items-center">
    <!-- outer div box with gradient -->

    <div class=" rounded-2xl h-1/2 w-3/4 flex flex-col items-center justify-center mx-auto border-2 bg-black opacity-70">


        <div id="UserID" class=" h-1/8 w-1/4  border-2 border-rose-500">
            <input type="text" placeholder="Enter user ID" class="w-full">

        </div>
            
        <div id="Password"  class="h-1/8 w-1/4 mt-7 border-2 border-rose-500">
            <input type="password" placeholder="Enter your password" class="w-full">

        </div>


        


        
        <div id="Buttons" class=" w-1/4 flex mt-10" >
           
                <button (click)="goToHomePage('Home')"class="w-1/3 h-full rounded-2xl bg-cyan-300 font-semibold">Login</button>
          

            
                <button (click)="goToSignUp('SignUp')" class="w-1/3 h-full rounded-2xl ml-3 bg-purple-300 font-semibold">Register</button>
     

  
                <button class="w-1/3 h-full  rounded-2xl ml-3 bg-rose-300 font-semibold">About</button>
       

        </div>
        


        
           

    </div>

  

</div>




