<body class="bg-sky-950">

    <div class=" sticky w-full h-1/4 flex justify-between  bg-slate-950 opacity-30 drop-shadow-xl ">

        <p class="text-5xl font-bold pl-6 text-gray-900 dark:text-white">Blue Minds</p>

     
        <div class=" flex justify-between place-items-center space-x-20">

            <a href="" class="text-cyan-800 pr-10 text-xl order-5 hover:text-cyan-950">Closing Stock</a>
            <a href="" class="text-cyan-800  pr-10 text-xl order-4  hover:text-cyan-950">In Stock</a>
            <a href="" class="text-cyan-800  text-xl order-3  hover:text-cyan-950">Bill</a>
            <a href="" class="text-cyan-800  text-xl order-2  hover:text-cyan-950">Add Products</a>
            <a href="" class="text-cyan-800  text-xl order-1  hover:text-cyan-950">Profile</a>
    
        </div>
   
    </div>

    <section class="rounded-2xl h-screen w-3/4 flex flex-col mx-auto  bg-cyan-900 opacity-70">

        <div class="mt-20 flex flex-col mx-auto place-content-center">
          <h2 class="mb-2 text-7xl font-bold tracking-tight text-gray-900 dark:text-white">
            Make your way with us!
          </h2>
            
        </div>

        <div class=" m-10 h-1/4 block max-w-2xl p-6  bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
<p class="font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>


        </div>





    </section>



    



</body>
