<div class="  h-screen bg-gradient-to-r flex from-violet-500 to-fuchsia-700 place-items-center">

    <div class="rounded-2xl h-3/4 w-1/2 grid mx-auto bg-black opacity-50 place-items-center">

        <div>

            <h2 class="text-xl text-gray-900 dark:text-white">Make your way to Blue Minds!</h2>
        </div>


        <form [formGroup]="registerForm" (ngSubmit)="OnRegistrationSubmit()">


        <table class="table-fixed">
            <tbody>

                
            <tr>
                <td class="p-4">
                    <label class="my-auto text-xl text-gray-900 dark:text-white">Store Name</label>


                </td>

                <td class="p-4">

                    <input type="text"  formControlName="StoreName">
                    <small style="color: red;" *ngIf="registerForm['controls']['StoreName']['errors']?.['required']&& registerForm['controls']['StoreName']['touched']">**Store Name is a required field</small>

            </tr>

            <tr>
                <td class="p-4">
                    <label class="my-auto text-xl text-gray-900 dark:text-white">First Name</label>


                </td>

                <td class="p-4">

                    <input type="text" formControlName="FirstName">
                    <small style="color: red;" *ngIf="registerForm['controls']['FirstName']['errors']?.['required'] &&  registerForm['controls']['FirstName']['touched']">**First Name is a required field</small>

                    <small style="color: red;" *ngIf="registerForm['controls']['FirstName']['errors']?.['NoSpaceAllowed'] &&  registerForm['controls']['FirstName']['touched']">**Space is not allowed</small>


                </td>

            </tr>
            <tr>
                <td class="p-4">
                    <label class="my-auto text-xl text-gray-900 dark:text-white">Last Name</label>


                </td>

                <td class="p-4">

                    <input type="text" formControlName="LastName">
                    <small style="color: red;" *ngIf="registerForm['controls']['LastName']['errors']?.['required'] &&  registerForm['controls']['LastName']['touched']">**Last Name is a required field</small>

                </td>

            </tr>
            <tr>
                <td class="p-4">

                  
                    <label class="w-full my-auto  text-xl text-gray-900 dark:text-white">Mobile</label>


                </td>

                <td class="p-4">

                    <input type="text" formControlName="Mobile">
                    <small style="color: red;" *ngIf="registerForm['controls']['Mobile']['errors']?.['required'] &&  registerForm['controls']['Mobile']['touched']">**Mobile Number is a required field</small>

                </td>

            </tr>
            <tr>
                <td class="p-4">
                    <label class="my-auto text-xl text-gray-900 dark:text-white">Email</label>


                </td>

                <td class="p-4">

                    <input type="text" formControlName="Email">
                    <small style="color: red;" *ngIf="registerForm['controls']['Email']['errors']?.['required'] &&  registerForm['controls']['Email']['touched']">**Email ID is a required field</small>
                    <small style="color: red;" *ngIf="registerForm['controls']['Email']['errors']?.['email'] &&  registerForm['controls']['Email']['touched']">**Email ID is not a valid email</small>


                </td>

            </tr>
            <tr>
                <td class="p-4">
                    <label class="my-auto text-xl text-gray-900 dark:text-white">Password</label>


                </td>

                <td class="p-4">

                    <input type="password" formControlName="Password">
                    <small style="color: red;" *ngIf="registerForm['controls']['Password']['errors']?.['required'] &&  registerForm['controls']['Password']['touched']">**Password is a required field</small>

                </td>

            </tr>
            <tr>
                <td class="p-4">
                    <label class="my-auto text-xl text-gray-900 dark:text-white">Re-Type Password</label>


                </td>

                <td class="p-4">

                    <input type="password" formContolName="ReTypePassword">
                    <small style="color:  red;" *ngIf="registerForm['controls']['ReTypePassword']['errors']?.['required'] &&  registerForm['controls']['ReTypePassword']['touched']">**Enter your password again</small>

                </td>

            </tr>

        </tbody>


        </table>

  


        <div class="w-1/3">
            <input type="submit" class=" w-full rounded-2xl bg-rose-400" value="submit">

        </div>

    </form>
    


    </div>


</div>
