
<div class="bg-sky-950">

    
    <div class="sticky w-full h- flex  justify-between bg-slate-950 opacity-30 drop-shadow-xl" >  
        
        <div class=" ml-6 justify-between">

            <a href="/Home" class="text-5xl text-white hover:text-sky-900">Home</a>

        </div>

        <div class="pr-10">

            <button class=" p-3 h-full rounded-2xl ml-3 bg-purple-300 font-semibold hover:bg-sky-700"> How it works!</button>
       
        </div>


        

    </div>
    <div class="h-screen w-3/4 flex flex-col mx-auto  bg-cyan-900 opacity-70">

        <div class="flex flex-col place-items-center">

            <h3 class="mb-2 text-7xl font-bold tracking-tight text-gray-900 dark:text-white">Billing</h3>
        

        </div>

        <div class="flex flex-row">
            <input type="text" name="" id="">
        </div>
            
   
        
    </div>
 


</div>

